*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    color: #000000;

}
.clear{
    clear: both;
}
header{
    background-color: #0f0f0f;
}
header .navbar-light .navbar-nav .nav-link.active{
    color: #ff8901;
}
header .navbar-light .navbar-nav{
    gap: 15px;
}
header .navbar-light .navbar-nav .nav-link{
    color: #ffffff;
    text-transform: uppercase;
}
header .navbar-light .navbar-nav .nav-link:hover{
    color: #ff8901;
    text-decoration: underline;
}
header .navbar-light .navbar-nav .btn-primary{
    margin: 0 20px;
    background-color: #ff8901;
    border: none;
    text-transform: uppercase;
    
}

/* -------------------------------------------------------------------------- */
/*                               BANNER SECTION                               */
/* -------------------------------------------------------------------------- */
.banner .carousel-indicators [data-bs-target]{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ff8901;
}
/* .banner .carousel-inner .carousel-item .carousel-caption h1{
    position: relative;

}
.banner.carousel-inner .carousel-item .carousel-caption h1::before{
    position: absolute;
    contain: "";
    width: 400px;
    height: 2px;
    background-color: #ff8901;
    bottom: 1px ;
    left: 1px;
} */
 .banner .carousel-inner .carousel-item .carousel-caption{
    margin-bottom: 100px;
 }
 
 /* -------------------------------------------------------------------------- */
 /*                               LEGACY SECTION                               */
 /* -------------------------------------------------------------------------- */

 .legacy{
    background-color: #FFFBE9;
 }
 .legacy .container{
    padding-bottom: 60px;
    padding-top: 60px;
 }
 .legacy .heading-subheading{
    margin-bottom: 60px;
    text-align: center;
 }
  .legacy .legacy-image{
    text-align: center;
  }
 .legacy .heading-subheading h2{
    font-family: "EB Garamond", serif;
    font-size: 36px;
    color: #ff8901;
 }
  .legacy .heading-subheading h5{
    font-family: "Jost", sans-serif;
    font-size: 18px;
  }
.legacy .legacy-image img{
    border:2px solid #ffffff;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.legacy .legacy-text{
     margin-top: 60px;
}
.legacy .legacy-text p{
    margin-top: 40px;
    font-family: "Gafata", sans-serif;
    font-size: 18px;
    line-height: 1.7;
}
.legacy .legacy-text h3{
    position: relative;
    font-family: "Jost", sans-serif;
}
.legacy .legacy-text h3::after{
   position: absolute;
  content: "";
  bottom: -20px;
  left: 0px;
  height: 2px;
  width: 441px;
  background-color: #ff8901;
}
 .love .container{
    padding-bottom: 60px;
    padding-top: 60px;
 }
 .love .col-lg-4{
    margin-top: 24px;
 }
 .love .heading-subheading{
    margin-bottom: 36px;
    text-align: center;
 }
 .love .heading-subheading h2{
    font-family: "EB Garamond", serif;
    font-size: 36px;
    color: #ff8901;
 }
  .love .heading-subheading h5{
    font-family: "Jost", sans-serif;
    font-size: 18px;
  }

  .love .item{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    background-color: #FFFAE8;
    padding: 15px 20px;
    border-radius: 10px;
    border: 2px solid #ffffff;
  }
  .love .item:hover{
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }
  .love .item .item-text h4{
    font-family: "Jost", sans-serif;
    font-size: 24px;
  }
  .love .item .item-text p{
    font-family: "Gafata", sans-serif;
    font-size: 20px;
    margin-bottom:0px;
  }
.our-team{
    background-color: #F2FDFF;
}
   .our-team .container{
    padding-bottom: 60px;
    padding-top: 60px;
 }
 .our-team .heading-subheading{
    margin-bottom: 60px;
    text-align: center;
 }
 .our-team .heading-subheading h2{
    font-family: "EB Garamond", serif;
    font-size: 36px;
    color: #ff8901;
 }
  .our-team .heading-subheading h5{
    font-family: "Jost", sans-serif;
    font-size: 18px;
  }
.our-team .team-member{
    text-align: center;
}
.our-team .team-member .member img{
    border-radius: 10px 10px 0px 0px;
}
.our-team .team-member .member .overlay h6{
  font-family: "Jost", sans-serif;
font-size: 18px;  
}
.our-team .team-member .member{
    position: relative;
}
.our-team .team-member .member .overlay{
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%);
    color: #fff;
    opacity: 1;
    z-index: 1;
}
.our-team .team-member .member .overlay-2{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
    background-color: #00000000;
    border-radius: 50%;
    box-shadow: rgba(255, 210, 85, 0.096) 0px 0px 0px 30px,rgba(255, 210, 85, 0.324) 0px 0px 0px 10px,rgba(255, 210, 85, 0.481) 0px 0px 0px 3px;
    width: 220px;
    aspect-ratio: 1;
}
.our-team .team-member .team-text p{
  font-family: "Gafata", sans-serif;
    font-size: 20px; 
    padding: 0 75px; 
}


.rate{
    background-image: url(../images/rate-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
   .rate .container{
    padding-bottom: 60px;
    padding-top: 60px;
 }
 .rate .heading-subheading{
    margin-bottom: 36px;
    text-align: center;
 }
 .rate .heading-subheading h2{
    font-family: "EB Garamond", serif;
    font-size: 36px;
    color: #ff8901;
 }
  .rate .heading-subheading h5{
    font-family: "Jost", sans-serif;
    font-size: 18px;
  }
.rate .rate-images{
    text-align: center;
    margin-top: 24px;
    
}
.rate .rate-images:hover{
    background-color: #fff;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 10px;
}