*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    color: #000000;

}
.clear{
    clear: both;
}
header{
    background-color: #0f0f0f;
}
header .navbar-light .navbar-nav .nav-link.active{
    color: #ff8901;
}
header .navbar-light .navbar-nav{
    gap: 15px;
}
header .navbar-light .navbar-nav .nav-link{
    color: #ffffff;
    text-transform: uppercase;
}
header .navbar-light .navbar-nav .nav-link:hover{
    color: #ff8901;
    text-decoration: underline;
}
header .navbar-light .navbar-nav .btn-primary{
    margin: 0 20px;
    background-color: #ff8901;
    border: none;
    text-transform: uppercase;
    
}


/* -------------------------------------------------------------------------- */
/*                               BANNER SECTION                               */
/* -------------------------------------------------------------------------- */
.banner .carousel-indicators [data-bs-target]{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ff8901;
}
/* .banner .carousel-inner .carousel-item .carousel-caption h1{
    position: relative;

}
.banner.carousel-inner .carousel-item .carousel-caption h1::before{
    position: absolute;
    contain: "";
    width: 400px;
    height: 2px;
    background-color: #ff8901;
    bottom: 1px ;
    left: 1px;
} */